  </main>
  <nav class="site-nav">
    <a href="{{ '/' }}">Browse by book</a>
    <a href="{{ '/all/' }}">See all highlights</a>
  </nav>
  <footer class="site-footer">
    <p><small>Made by <a href="{{ site.authorUrl }}">{{ site.author }}</a>. Highlights and covers are copyright to their respective authors.</small></p>
    <p><small><a href="https://github.com/ericayee/highlights">Peek at the code</a> for this project. The website is a fork of <a href="https://highlights.melanie-richards.com/">Melanie Richards' highlights website</a>.</small></p>
  </footer>

  <script src="{{ '/assets/js/deps.js' }}"></script>
  <script src="{{ '/assets/js/scripts.js' }}"></script>
</body>