</main>
<nav class="site-nav">
<p>
  <a href="{{ '/' | url }}">Browse by book</a>
</p>
<p>
  <a href="{{ '/all/' | url }}">See all highlights</a>
</p>
</nav>
<footer class="site-footer">
<p>
  <small>Made by <a href="{{ site.authorUrl }}">{{ site.author }}</a>. Highlights and covers are copyright to their respective authors.</small>
</p>
<p>
  <small>
    <a href="https://github.com/ericayee/highlights">Peek at the code</a> for this project. The website is a fork of <a href="https://highlights.melanie-richards.com/">Melanie Richards' highlights website</a>.</small>
</p>
</footer>

<script src="{{ '/assets/js/deps.js' | url }}"></script>
<script src="{{ '/assets/js/scripts.js' | url }}"></script>
</body>