{% if individualPost %}
  {% set current_book = book %}
  {% set current_book_url = url %}
  {% set current_book_title = title %}
  {% set current_book_author = author %}
  {% set current_book_genres = genres %}
  {% set current_book_review = review %}
  {% set current_book_pub = pub %}
  {% set current_book_gr = goodreads %}
  {% set current_book_bs = bookshop %}
{% else %}
  {% set current_book = post.data.book %}
  {% set current_book_url = post.url %}
  {% set current_book_title = post.data.title %}
  {% set current_book_author = post.data.author %}
  {% set current_book_genres = post.data.genres %}
  {% set current_book_review = post.data.review %}
  {% set current_book_pub = post.data.pub %}
  {% set current_book_gr = post.data.goodreads %}
  {% set current_book_bs = post.data.bookshop %}
{% endif %}

{% set current_book_cover = '/assets/images/covers/' + current_book + '.jpg' %}

<article class="book">
  <div class="book__info">
    {% if individualPost %}
      <h1 class="book__title">
        <span class="book__title-small">Highlights from</span>
        {{ current_book_title }} <i>by {{ current_book_author }}</i></h1>
    {% else %}
      <h2 class="book__title">{{ current_book_title }} <i>by {{ current_book_author }}</i></h2>
    {% endif %}
    <div class="book__image">
      <img src="{{ current_book_cover | url }}" alt="Cover of {{ current_book_title }}"/>
    </div>
    <h4 class="book__pubdate">Published {{ current_book_pub }}</h4>
    <h3 class="book__genres">{{ current_book_genres }}</h3>
    <div class="review">
      <h3 class="review__title">Why I loved it</h3>
      <p>{{ current_book_review }}</p>
    </div>
    <div class="book__links">
      <p><a href={{ current_book_gr }} target="_blank">>Goodreads</a></p>
      <p><a href={{ current_book_bs }} target="_blank">>Bookshop.org</a></p>
    </div>
  </div>

  <ul class="highlights">
    {% for highlight in books[current_book] %}
      {% set highlight_perma = highlight.text | lower | urlencode | replace("%20", "+") | truncate(15, true, "") %}
      <li class="highlight" id="{{ highlight_perma }}">
        <p class="highlight__text">{{ highlight.text }}</p>
        {% if highlight.attribution %}
          <cite class="highlight__attribution"> — {{ highlight.attribution}}</cite>
        {% endif %}
        <div class="highlight__meta">
          <span class="highlight__location">{{ highlight.page }}</span>
          <a href="{{ current_book_url | url }}#{{ highlight_perma }}" class="highlight__link">
            <svg aria-hidden="true" viewBox="0 0 30 20" width="30" height="20">
              <use xlink:href="#link"></use>
            </svg>
            <span>Link</span>
            <span class="sr-only">to {{ highlight.page }} highlight</span>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</article>