{% include "head.njk" %}
{% include "header.njk" %}

<h1 class="sr-only">Explore all books</h1>

<ul class="covers">
  {% for post in posts %}
    <li class="cover">
      {% set current_book = post.data.book %}
      {% set current_cover = '/assets/images/covers/' + current_book + '.jpg' %}
      <a href="{{ post.url }}" class="book__image" data-bgSrc={{ current_cover }} title="{{ post.title }}">
        <img src={{ current_cover }} />
      </a>
    </li>
  {% endfor %}
</ul>

{% include "pagination.njk" %}
{% include "footer.njk" %}